body {
    background: rgb(228, 250, 254);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0;
}

.headline {
    background: rgb(12, 72, 12);
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
    margin: 10px 10px;
    height: 440px;
    font-size: 4em;
}

.display{
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 20px;
}

.scoreNm {
    font-size: 40px;
}

.buttons {
    margin: 0 auto;
    margin-top: 10px;
    width: 70px;
    text-align: center;
}

.left-right {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.popup {
    display: none;
    width: 1000px;
    height: 1000px;
    background-color: black;
    position: absolute;
    flex-direction: column;
}
.game_over_text, .finalScore, .hsMessage {
    color: white;
    text-align: center;
}

.playAgain {
    margin: auto;
}

.game_over_text {
    font-size: 4em;
}

@keyframes moving {
    0%{
        right: 0;
        background: yellow;
    } 
    25% {
        right: 25%;
        background: yellowgreen
    }
    50% {
        right: 50%;
        background: rgb(48, 222, 48);
    }
    75% {
        right: 75%;
        background: green;
    }
    100% {
        right: 100%;
        background: darkgreen;
    }   
}

.tail{
    border-radius: 50%;
}

.high_score_menu {
    visibility: hidden;
}

#main-menu{
    display: none;
    text-align: center;
}

#game-screen {
    display: none;
}

.gameboard {
    width: 100vmin;
    background-color: black;
    border: 3px gray solid;
    box-shadow: 5px 5px 30px 10px;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr)
}

.snake {
    background: lightgreen;
    animation: moving 2s infinite;
}

.apple {
    background: red;
    border-radius: 50px;
}



