@import url('http://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    background: rgba(178,218,8,255);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0;
    font-family: 'Press Start 2P', monospace;
}


.display{
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 20px;
}

.scoreNm {
    font-size: 40px;
    margin: 10px 0;
    color: #263702;
}

.line {
    width: 80.5vmin;
    border: 2.5px #263702 solid;
    margin: 10px 0;
    background-color: #263702;
}

.buttons {
    margin: 0 auto;
    margin-top: 10px;
    width: 70px;
    text-align: center;
}

.left-right {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.popup {
    display: none;
    width: 1000px;
    height: 1000px;
    background-color: #263702;
    position: absolute;
    flex-direction: column;
}
.game_over_text, .finalScore, .hsMessage {
    color: white;
    text-align: center;
}

.playAgain {
    margin: 10px auto 0 auto;
}

.game_over_text {
    font-size: 4em;
}

@keyframes moving {
    0%{
        right: 0;
        background: #263702;
    } 
    25% {
        right: 25%;
        background: #263702;
    }
    50% {
        right: 50%;
        background: #263702;
    }
    75% {
        right: 75%;
        background: #263702;
    }
    100% {
        right: 100%;
        background: #263702;
    }   
}

.tail{
    border-radius: 50%;
}

.high_score_menu {
    visibility: hidden;
}


.gameboard {
    width: 80vmin;
    height: 80vmin;
    background-color: rgba(178,218,8,255);
    border: 5px #263702 solid;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr)
}

.snake {
    background: #263702;
    animation: moving 2s infinite;
}

.apple {
        margin-left: 12px;
        background: #263702;
        height: 25px;
        position: relative;
        width: 5px;
}
.apple:after {
        background: #263702;
        content: "";
        height: 5px;
        left: -8px;
        position: absolute;
        top: 10px;
        width: 21px;
}

.back-main-menu {
    text-align: center;
    padding-top: 25px;
    color: white;
}