body {
    background: darkolivegreen;
}

.headline {
    margin-top: 10px;
    text-align: center;
}

.buttons {
    margin: 0 auto;
    margin-top: 10px;
    width: 70px;
    text-align: center;
}

.left-right {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.main {
    display: grid;
    grid-template-columns: 100px auto auto;
    grid-gap: 80px;
}

.gameboard {

    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    border: 3px gray solid;
    box-shadow: 5px 5px 30px 10px;
}

.gameboard div {
    width: 50px;
    height: 50px;
}

.snake {
    background: black;
    border-radius: 20%;
    animation: moving 8ms infinite;
}

.apple {
    background: red;
    border-radius: 50px;
}

.popup {
    display: none;
    background-color: black;
}

@keyframes moving {
    0%{
        left: 0;
        background: black;
    } 
    100% {
        left: 100%;
        background: black;
    }   
}