body {
    background: darkolivegreen;
}

.headline {
    text-align: center;
}

.buttons {
    text-align: center;
}

.gameboard {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    border: 3px white solid;
    box-shadow: 5px 5px 30px 10px;
}

.snake {
background: black;
}

.apple {
background: red;
border-radius: 20px;
}