@import url('//fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
/* @media screen and (max-width: 1660px){ */

body {
    background: rgb(228, 250, 254);
    background-image: url('../public/images/jungle_background.jpeg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0;
    font-family: 'Shadows Into Light Two', 'serif';
}

.headline {
    background: rgb(12, 72, 12);
    color: rgb(152, 206, 76);
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
    margin: 10px 10px;
    height: 555px;
    font-size: 4em;
    font-family: 'Shadows Into Light Two', 'serif';
    box-shadow: 5px 5px 30px 10px;
}

.display{
    flex-wrap: wrap;
    padding: 1px 10px 20px 10px;
    margin-left: 20px;
    color: rgb(12, 72, 12);
    background-color: rgb(151, 205, 75);
    height: 10%;
    font-size: 1.5em;
}

.scoreNm {
    font-size: 40px;
}

.buttons {
    margin: 0 auto;
    margin-top: 10px;
    width: 70px;
    text-align: center;
}

.left-right {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.popup {
    display: none;
    width: 1000px;
    height: 1000px;
    background-color: black;
    position: absolute;
    flex-direction: column;
}
.game_over_text, .finalScore, .hsMessage {
    color: white;
    text-align: center;
}

.playAgain {
    width: 8%;
    margin: 40px 43% 10px 47%;
}

.game_over_text {
    font-size: 4em;
}

@keyframes moving {
    0%{
        right: 0;
        background: yellow;
    } 
    25% {
        right: 25%;
        background: yellowgreen
    }
    50% {
        right: 50%;
        background: rgb(48, 222, 48);
    }
    75% {
        right: 75%;
        background: green;
    }
    100% {
        right: 100%;
        background: darkgreen;
    }   
}

.tail{
    border-radius: 50%;
}

.high_score_menu {
    visibility: hidden;
    text-align: center;
}

#main-menu{
    display: none;
    text-align: center;
}

#game-screen {
    display: none;
}

.gameboard {
    width: 100vmin;
    background-color: black;
    border: 3px gray solid;
    box-shadow: 5px 5px 30px 10px;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr)
}

.snake {
    background: lightgreen;
    animation: moving 2s infinite;
}

.apple {
    background: red;
    border-radius: 50px;
}

.back-main-menu {
    text-align: center;
    padding-top: 25px;
    color: white;
}


.container {
    color: white;
}

.high_score_list {
    width: 15%;
    margin-left: 40%;
}

.listing {
    padding: 5px 0;
}

